a{
    color:rgb(21, 11, 201);
    text-decoration: none;
}
a:hover{
    color:rgb(220, 18, 18);
}
a:visited{
    color:darkmagenta;
}
.btn{
    background: gold;
    padding: 0 3px;
    border: 1px solid #111;
    border-radius: 5px;
    font-family: inherit;
    box-shadow: 4px 4px 14px rgb(0,0,0,25);
}
.btn:hover {
    opacity: 0.8;
    color:aliceblue;
}
.table{
    width: 75%;
}
.table td{
    text-align: center;
    padding-bottom: 10px;
    box-shadow: 4px 4px 14px rgb(0,0,0,25);
}
.table td:nth-child(2){
    color:mediumblue
}
.list {
    padding: 0 20px;
}
.list li {
    color: darkblue;
    margin-bottom: 15px;
}
